/* css is written in selector and declartion box
 h1 */

/* shortcut to add comment is command and forward / */

/*h1 is a selector */

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    
    
}

.container {
    width: 1140px; 
    margin-left: auto; 
    margin-right: auto; 

}

.blog-post{
    background-color: blue; 
    width: 75%; 
}


body{
    font-size: 20px; 
}

h1 {
    color: #001480; /* we change h1 tag to green here*/
    font-size: 50;  /*we going to add */
    font-family: helvetica Neue, arial; 
    margin-bottom: 20px; 
    
}

h2 {
    
    font-size: 25;  /*we going to add */
    font-family: helvetica Neue, arial; 
    margin-top: 50px; 

}


/* second option because we have two tags with the same group  

*/
h1, h2{

    color: green;

}




p {
    font-size: 18px; 
    
    font-family: hevetica neue, arial; 
}

/*this is  a class example of how to indicated a class*/
.main-text{
    text-align: jusify; 
}

/*this is a id example how to indicated a id*/
#second-text {
    font-size: 25px; 
    
}








